body {
  font-family: poppins, sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("../images/background-hero.jpg");
  background-repeat: none;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: center;
}

header h3 {
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header a {
  color: #272044;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  background: white;
  text-decoration: none;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 30px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(15, 13, 27, 0.9),
      rgba(15, 13, 27, 0.9)
    ),
    url("../images/footer-image.jpg");
  background-repeat: none;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0px;
  margin-right: 20px;
}

ul {
  padding: 0px;
}

footer li {
  list-style: none;
  opacity: 0.7;
  margin-right: 20px;
}

footer a {
  opacity: 0.7;
  color: white;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.6;
  margin-right: 20px;
}

section {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

footer section {
  padding-right: 10%;
  padding-left: 10%;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: 8px;
  }

  footer .grid {
    grid-template-columns: 1fr;
  }
}
